// Body
$body-bg: #f7f8f5;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$primary: #b79e8f;
$info: #845b49;
$success: #6caa63;
$warning: #e99a2b;
$danger: #f44336;
